.content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}
.content h3 {
    font-size: 24px;
    margin-bottom: 20px;
}
.content .actions {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.content .actions button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.content .actions .green {
    background-color: #28a745;
    color: white;
}
.content .actions .yellow {
    background-color: #244757;
    color: white;
}
.content .actions .blue {
    background-color: #007bff;
    color: white;
}
.content .actions .gray {
    background-color: #6c757d;
    color: white;
}
table {
    width: 95%;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;

}
th, td {
    padding: 20px;
    text-align: center; 
}
.dashboard-header {
    margin: 20px 0;
}
.dashboard-header h1 {
    font-size: 24px;
    margin: 0;
}
.dashboard-header p {
    color: #888;
}
.dashboard-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 30px 30px 30px 30px;
}
.dashboard-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 22%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dashboard-card .info {
    text-align: right;
}
.dashboard-card .info h3 {
    margin: 0;
    font-size: 24px;
}
.dashboard-card .info p {
    margin: 0;
    color: #888;
}
.dashboard-card.total-orders {
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    color: #fff;
}
.dashboard-card.clients {
    background: linear-gradient(90deg, #00c6ff 0%, #0072ff 100%);
    color: #fff;
}
.dashboard-card.followers {
    background: linear-gradient(90deg, #00b09b 0%, #96c93d 100%);
    color: #fff;
}
.dashboard-card.visits{
    background: linear-gradient(90deg,#00c6ff 0%, #00b09b);
    color: #fff;
}