* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; 
}
body {
    font-family: sans-serif, Arial, helvetica bold, 'montserrat bole';
    background-color: #f4f5f7;
}
.sidebar ul li.active {
    background-color: #e9f0ff;
    color: #007bff;
}
.sidebar ul li i {
    margin-right: 10px;
}
.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar ul li {
    padding: 15px 20px;
    color: #333;
    cursor: pointer;
}
li {
    list-style: none;
}
.stats {
    display: flex;
    padding: 30px 30px 30px 30px;
    
}
.controls {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: auto;
}

.search-box {
    position: relative;
    display: inline-block;
}

.search-box input {
    padding-left: 35px; 
    padding-right: 10px;
    height: 35px;
    border:none; 
    font-size: 16px;
}

.search-box i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 18px;
}

.sidebar .menu {
    list-style: none;
    padding: 0;
}
.sidebar .menu li {
    padding: 10px 20px;
}
.sidebar .menu li a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
}
.sidebar .menu li a i {
    margin-right: 10px;
}
.sidebar .menu li a:hover {
    background-color: #f4f5f7;
    border-radius: 4px;
}
.main-content {
    margin-left: 230px;
    padding: 20px;
    margin-right: 0px;
}
.sidebar .logo i {
    font-size: 24px;
    color: #4b49ac;
    border: #999;
}
.sidebar .logo span {
    font-size: 20px;
    font-weight: 700;
    color: #4b49ac;
    margin-left: 10px;
}
.sidebar {
    width: 250px;
    background-color: #fff;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 29px;
}
.sidebar .logo {
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-right: 0px;
    margin-bottom: 20px;
    border-bottom: 2px solid #dcdcdc; 
    padding-bottom: 17px;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
}
.header {
    display: flex;
    /* padding-top:20px; */
    align-items: center;
    border-bottom: 2px solid #dcdcdc; 
    padding-bottom: 10px;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
}
.header .controls {
    display: flex;
    align-items: center;
}
.header .controls input {
    margin-right: 10px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.header .controls i {
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
}
.header .controls img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.user-profile {
    display: flex;
    align-items: center;
    gap: 5px; 
    margin-left: auto;
}

.user-profile img {
    border-radius: 50%; 
}
